<a href="https://colab.research.google.com/github/Jwainlee/Dwita/blob/main/project3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
place1 = pd.read_csv('경상남도 밀양시_경로당 현황_20230713.csv', encoding = 'cp949')
place1.head()

   연번   읍면동     경로당명             경로당 주소     데이터기준일자
0   1  삼랑진읍  임천분회경로당   밀양시 삼랑진읍 임천3길 10  2023-07-13
1   2  삼랑진읍    금곡경로당   밀양시 삼랑진읍 임천5길 33  2023-07-13
2   3  삼랑진읍    숭진경로당  밀양시 삼랑진읍 숭진석탑길 86  2023-07-13
3   4  삼랑진읍    금호경로당    밀양시 삼랑진읍 숭진길 56  2023-07-13
4   5  삼랑진읍    청학경로당   밀양시 삼랑진읍 청학1길 77  2023-07-13

In [ ]:
place1 = place1.iloc[:,1:4]
place1.head()

    읍면동     경로당명             경로당 주소
0  삼랑진읍  임천분회경로당   밀양시 삼랑진읍 임천3길 10
1  삼랑진읍    금곡경로당   밀양시 삼랑진읍 임천5길 33
2  삼랑진읍    숭진경로당  밀양시 삼랑진읍 숭진석탑길 86
3  삼랑진읍    금호경로당    밀양시 삼랑진읍 숭진길 56
4  삼랑진읍    청학경로당   밀양시 삼랑진읍 청학1길 77

In [ ]:
place1.읍면동.value_counts()

무안면     52
삼랑진읍    38
상남면     38
하남읍     36
부북면     34
산내면     33
단장면     32
초동면     31
상동면     25
산외면     22
삼문동     22
청도면     21
내이동     18
가곡동     18
내일동     11
교동       9
Name: 읍면동, dtype: int64

In [ ]:
place2 = pd.read_csv('경상남도 밀양시_노인복지시설 현황_20230301.csv', encoding = 'cp949')

In [ ]:
place2.head()

,연번,시설종류,시설명,시설장이름,주소,전화번호,입소정원,데이터기준일자
0,1,노인요양공동생활가정,호밥이네 노인요양원,박호천,경상남도 밀양시 상남면 외산길 7,055-353-5581,9,2023-03-01
1,2,노인요양공동생활가정,사랑요양원,박성욱,경상남도 밀양시 단장면 단장로 1166-29,055-356-2289,9,2023-03-01
2,3,노인요양공동생활가정,송남요양원,김수한,경상남도 밀양시 단장면 무릉3길 14-10,055-351-1383,9,2023-03-01
3,4,노인요양공동생활가정,섬김의 집,문초점,경상남도 밀양시 상남면 인산남길 26,055-351-0156,9,2023-03-01
4,5,노인요양시설(개정법),강남요양원,조태자,경상남도 밀양시 삼랑진읍 청학2길 35,055-354-3003,42,2023-03-01

In [ ]:
place2 = place2.iloc[:, [2,4,6]]

In [ ]:
place2.head()

          시설명                        주소  입소정원
0  호밥이네 노인요양원        경상남도 밀양시 상남면 외산길 7     9
1       사랑요양원  경상남도 밀양시 단장면 단장로 1166-29     9
2       송남요양원   경상남도 밀양시 단장면 무릉3길 14-10     9
3       섬김의 집      경상남도 밀양시 상남면 인산남길 26     9
4       강남요양원     경상남도 밀양시 삼랑진읍 청학2길 35    42

In [ ]:
bus = pd.read_csv('경상남도 밀양시_버스정류장_20200716.csv', encoding = 'cp949')

In [ ]:
bus.head()

,연번,정류장(소)명,경도,위도,운행노선번호,기타(정류장 관련)
0,1,KT&G,128.764272,35.477956,"1-2가곡,1-2금동,1-2번,1-2부산대,1가곡,1금동,1번,1부산대,1서가정,1...",NaN
1,2,가곡삼거리,128.767228,35.475342,"1-2가곡,1-2금동,1-2번,1-2부산대,1가곡,1금동,1번,1부산대,1서가정,1...",NaN
2,3,가곡삼거리,128.767181,35.475017,"1-2금동,1금동,4-1롯데,4-1번,4-1번.,4-1용성,4-1청운,4구기,4대항...",NaN
3,4,가곡삼거리,128.767700,35.474939,"1-2가곡,1-2금동,1-2번,1-2부산대,1가곡,1금동,1번,1부산대,1서가정,1...",NaN
4,5,가곡시장,128.765547,35.476386,"1-2가곡,1-2금동,1-2번,1-2부산대,1가곡,1금동,1번,1부산대,1서가정,1...",NaN

In [ ]:
bus = bus.iloc[:,1:4]

In [ ]:
bus.head()

  정류장(소)명          경도         위도
0    KT&G  128.764272  35.477956
1   가곡삼거리  128.767228  35.475342
2   가곡삼거리  128.767181  35.475017
3   가곡삼거리  128.767700  35.474939
4    가곡시장  128.765547  35.476386

In [ ]:
hospital = pd.read_csv('경상남도 밀양시_병원 현황_20220801.csv', encoding = 'cp949')
hospital.head()

,연번,병원명,병원분류,주소,전화번호,데이터기준일자
0,1,나노병원,병원,밀양시 중앙로 229 (삼문동),351-1600,2022-08-01
1,2,의료법인지원의료재단 굿모닝병원,병원,밀양시 용평로5길 4-20 (용평동),355-9788,2022-08-01
2,3,미르아이병원,병원,"밀양시 미리벌중앙로 67, 2~4층 (삼문동)",716-1275,2022-08-01
3,4,의료법인 생명사랑의료재단 밀양윤병원,병원,밀양시 삼문중앙로 32 (삼문동),354-2200,2022-08-01
4,5,행복한병원,병원,밀양시 하남읍 수산중앙로 56-2,391-0090,2022-08-01

In [ ]:
hospital = hospital.iloc[:,[1,3]]
hospital.head()

                   병원명                         주소
0                 나노병원          밀양시 중앙로 229 (삼문동)
1     의료법인지원의료재단 굿모닝병원       밀양시 용평로5길 4-20 (용평동)
2               미르아이병원  밀양시 미리벌중앙로 67, 2~4층 (삼문동)
3  의료법인 생명사랑의료재단 밀양윤병원         밀양시 삼문중앙로 32 (삼문동)
4                행복한병원         밀양시 하남읍 수산중앙로 56-2

In [ ]:
pharm = pd.read_csv('경상남도 밀양시_약국 현황_20220801.csv', encoding = 'cp949')
pharm.head()

   연번    약국명                    주소      전화번호     데이터기준일자
0   1    강약국      밀양시 삼랑진읍 외송중앙길 3  352-9955  2022-08-01
1   2   건강약국     밀양시 중앙로 450 (내이동)  352-0261  2022-08-01
2   3  광제당약국     밀양시 중앙로 349 (내일동)  354-7686  2022-08-01
3   4   규태약국  밀양시 삼문중앙로 36-4 (삼문동)  355-8012  2022-08-01
4   5   단골약국  밀양시 북성로 10, 1층 (내이동)  354-1578  2022-08-01

In [ ]:
pharm = pharm.iloc[:,1:3]
pharm.head()

     약국명                    주소
0    강약국      밀양시 삼랑진읍 외송중앙길 3
1   건강약국     밀양시 중앙로 450 (내이동)
2  광제당약국     밀양시 중앙로 349 (내일동)
3   규태약국  밀양시 삼문중앙로 36-4 (삼문동)
4   단골약국  밀양시 북성로 10, 1층 (내이동)

In [ ]:
clinic = pd.read_csv('경상남도 밀양시_의원현황_09_22_2014.csv', encoding = 'cp949')
clinic.head()

         이름  병원                 주소          전화번호
0      금송의원  의원    밀양시 삼랑진읍 천태로 50  055-351-1370
1     송광호의원  의원  밀양시 삼랑진읍 천태로 14-1  055-351-0367
2  오용창 내과의원  의원  밀양시 삼랑진읍 천태로 14-1  055-353-6933
3      신통의원  의원         삼랑진 천태로 75  055-351-5005
4      인성의원  의원   밀양시 하남읍 수산중앙로 21  055-391-2288

In [ ]:
clinic = clinic.iloc[:,[0,2]]
clinic.head()

         이름                 주소
0      금송의원    밀양시 삼랑진읍 천태로 50
1     송광호의원  밀양시 삼랑진읍 천태로 14-1
2  오용창 내과의원  밀양시 삼랑진읍 천태로 14-1
3      신통의원         삼랑진 천태로 75
4      인성의원   밀양시 하남읍 수산중앙로 21

In [ ]:
clinic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      48 non-null     object
 1   주소      48 non-null     object
dtypes: object(2)
memory usage: 900.0+ bytes

In [ ]:
hospital['이름'] = hospital['병원명']
hospital = hospital.drop(columns=['병원명'])

In [ ]:
hos = pd.merge(hospital, clinic, on = '이름', how = 'outer')
hos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주소_x    110 non-null    object
 1   이름      125 non-null    object
 2   주소_y    48 non-null     object
dtypes: object(3)
memory usage: 3.9+ KB

In [ ]:
hos['주소'] = hos['주소_x']
hos[hos['주소'] == None]['주소']

Series([], Name: 주소, dtype: object)

In [ ]:
hos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주소_x    110 non-null    object
 1   이름      125 non-null    object
 2   주소_y    48 non-null     object
 3   주소      110 non-null    object
dtypes: object(4)
memory usage: 4.9+ KB

In [ ]:
hos.head()

,주소_x,이름,주소_y,주소
0,밀양시 중앙로 229 (삼문동),나노병원,NaN,밀양시 중앙로 229 (삼문동)
1,밀양시 용평로5길 4-20 (용평동),의료법인지원의료재단 굿모닝병원,NaN,밀양시 용평로5길 4-20 (용평동)
2,"밀양시 미리벌중앙로 67, 2~4층 (삼문동)",미르아이병원,NaN,"밀양시 미리벌중앙로 67, 2~4층 (삼문동)"
3,밀양시 삼문중앙로 32 (삼문동),의료법인 생명사랑의료재단 밀양윤병원,NaN,밀양시 삼문중앙로 32 (삼문동)
4,밀양시 하남읍 수산중앙로 56-2,행복한병원,NaN,밀양시 하남읍 수산중앙로 56-2

In [ ]:
import numpy as np

In [ ]:
for i in range(len(hos)):
    con = np.logical_and(hos['주소_x'][i] is None, hos['주소_y'][i] is None)
con.sum()

0

In [ ]:
for i in range(len(hos)):
    if hos['주소'][i] is None:
        hos['주소'][i] = hos['주소_y'][i]

In [ ]:
hos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      125 non-null    object
 1   주소      110 non-null    object
dtypes: object(2)
memory usage: 7.0+ KB

In [ ]:
hos = hos.drop(columns = ['주소_x', '주소_y'])

In [ ]:
hos.head()

                    이름                         주소
0                 나노병원          밀양시 중앙로 229 (삼문동)
1     의료법인지원의료재단 굿모닝병원       밀양시 용평로5길 4-20 (용평동)
2               미르아이병원  밀양시 미리벌중앙로 67, 2~4층 (삼문동)
3  의료법인 생명사랑의료재단 밀양윤병원         밀양시 삼문중앙로 32 (삼문동)
4                행복한병원         밀양시 하남읍 수산중앙로 56-2

In [ ]:
hos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      125 non-null    object
 1   주소      110 non-null    object
dtypes: object(2)
memory usage: 7.0+ KB

In [ ]:
sports_facility = pd.read_csv('경상남도 밀양시_체육시설 현황_20220829.csv', encoding = 'cp949')
sports_facility.head()

,시설명,소재지도로명주소,소재지지번주소,면적(제곱미터),시설유형,수용인원(명),준공년도,관리기관,데이터기준일자
0,밀양종합운동장,밀양시 밀양대로 2057-21,밀양시 교동 1111,4177.92,육상경기장,10000.0,1997,밀양시시설관리공단,2022-08-29
1,삼문공설운동장,NaN,밀양시 삼문동 15-48,10595.00,기타,4000.0,2003,밀양시시설관리공단,2022-08-29
2,밀양종합운동장 보조경기장,밀양시 시청로 26,밀양시 교동 1117,7920.00,축구장,3000.0,2005,밀양시시설관리공단,2022-08-29
3,가곡야구장,NaN,밀양시 가곡동 266-6,11593.00,야구장,NaN,2012,밀양시시설관리공단,2022-08-29
4,정문야구장,밀양시 산외면 산외로 42-57,밀양시 산외면 남기리 835,9936.00,야구장,NaN,2019,밀양시시설관리공단,2022-08-29

In [ ]:
sports_facility = sports_facility.iloc[:, 0:3]
sports_facility.head()

             시설명           소재지도로명주소          소재지지번주소
0        밀양종합운동장   밀양시 밀양대로 2057-21      밀양시 교동 1111
1        삼문공설운동장                NaN    밀양시 삼문동 15-48
2  밀양종합운동장 보조경기장         밀양시 시청로 26      밀양시 교동 1117
3          가곡야구장                NaN    밀양시 가곡동 266-6
4          정문야구장  밀양시 산외면 산외로 42-57  밀양시 산외면 남기리 835

In [ ]:
park = pd.read_csv('경상남도_밀양시_도시공원정보_20230712.csv', encoding = 'cp949')
park.head()

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자
0,48270-00002,무봉공원,근린공원,NaN,경상남도 밀양시 내일동 35-10,35.492838,128.759414,92356.0,NaN,NaN,NaN,NaN,NaN,1974-09-24,경상남도 밀양시청,055-359-5363,2023-07-12
1,48270-00003,유환공원,근린공원,NaN,경상남도 밀양시 삼문동 15-48,35.486289,128.757024,19850.0,NaN,NaN,NaN,NaN,NaN,1974-09-24,경상남도 밀양시청,055-359-5363,2023-07-12
2,48270-00004,내이동 제1공원,어린이공원,NaN,경상남도 밀양시 내이동 1179-5,35.499775,128.743541,1642.3,NaN,NaN,NaN,NaN,NaN,1985-02-07,경상남도 밀양시청,055-359-5363,2023-07-12
3,48270-00005,내이동 제2공원,어린이공원,NaN,경상남도 밀양시 내이동 1202-4,35.497180,128.744495,1639.7,NaN,NaN,NaN,NaN,NaN,1985-02-07,경상남도 밀양시청,055-359-5363,2023-07-12
4,48270-00006,수산공원,어린이공원,NaN,경상남도 밀양시 하남읍 수산리 489-38,35.376782,128.711554,1557.9,NaN,NaN,NaN,NaN,NaN,1990-12-07,경상남도 밀양시청,055-359-5363,2023-07-12

In [ ]:
park = park.iloc[:, [1,4,5,6]]
park.head()

        공원명                  소재지지번주소         위도          경도
0      무봉공원       경상남도 밀양시 내일동 35-10  35.492838  128.759414
1      유환공원       경상남도 밀양시 삼문동 15-48  35.486289  128.757024
2  내이동 제1공원      경상남도 밀양시 내이동 1179-5  35.499775  128.743541
3  내이동 제2공원      경상남도 밀양시 내이동 1202-4  35.497180  128.744495
4      수산공원  경상남도 밀양시 하남읍 수산리 489-38  35.376782  128.711554

In [ ]:
fire_ex = pd.read_csv('경상남도_밀양소방서 가로변소화기 설치 현황_20220630.csv', encoding = 'cp949')
fire_ex.head()

   연번  관할            위 치    설치종류 설치연도  설치구분
0   1  교동     남천강변로 55-3  가로변소화기   미상  상업지역
1   2  교동  삼문중앙3길 29-8 앞  가로변소화기   미상  상업지역
2   3  교동        중앙로 362  가로변소화기   미상  상업지역
3   4  교동       북성로 23-1  가로변소화기   미상  상업지역
4   5  교동    내일동 중앙로 346  가로변소화기   미상  상업지역

In [ ]:
fire_ex = fire_ex.iloc[:,1:3]
fire_ex.head()

   관할            위 치
0  교동     남천강변로 55-3
1  교동  삼문중앙3길 29-8 앞
2  교동        중앙로 362
3  교동       북성로 23-1
4  교동    내일동 중앙로 346

In [ ]:
import requests

# Kakao Maps API 애플리케이션 키
api_key = "4453f3f08fff99d136036fd50dd34909"

In [ ]:
place1['위도'] = None
place1['경도'] = None

for i in range(len(place1)):
    address = place1['경로당 주소'][i]

    # Kakao Maps Geocoding API 요청 URL
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"

    # API 요청 헤더 설정
    headers = {"Authorization": f"KakaoAK {api_key}"}

    # API 요청 및 응답 데이터 가져오기
    response = requests.get(url, headers=headers)
    data = response.json()

    # 결과 확인 및 좌표 추출
    if data.get('documents'):
        coordinate = data['documents'][0]['address']
        latitude = coordinate['y']
        longitude = coordinate['x']
        place1['위도'][i] = latitude
        place1['경도'][i] = longitude

In [ ]:
place1.head()

    읍면동     경로당명             경로당 주소                위도                경도
0  삼랑진읍  임천분회경로당   밀양시 삼랑진읍 임천3길 10   35.451987562436  128.797022405584
1  삼랑진읍    금곡경로당   밀양시 삼랑진읍 임천5길 33  35.4538562147539  128.791671434325
2  삼랑진읍    숭진경로당  밀양시 삼랑진읍 숭진석탑길 86  35.4575344140353  128.806680883629
3  삼랑진읍    금호경로당    밀양시 삼랑진읍 숭진길 56  35.4559036478478  128.803766024339
4  삼랑진읍    청학경로당   밀양시 삼랑진읍 청학1길 77  35.4481912932693  128.812990188562

In [ ]:
place1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   읍면동     440 non-null    object
 1   경로당명    440 non-null    object
 2   경로당 주소  440 non-null    object
 3   위도      438 non-null    object
 4   경도      438 non-null    object
dtypes: object(5)
memory usage: 17.3+ KB

In [ ]:
for i in range(len(place1)):
    if place1['위도'][i] == None:
        print(i)
        print(place1['경로당 주소'][i])

215
밀양시 단장면 바드래길 412
314
밀양시 무안면 가복4길 2-3

In [ ]:
place1['경로당 주소'][215] = '밀양시 단장면 바드리길 412'
place1['경로당 주소'][314] = '밀양시 무안면 가복4길 4'

In [ ]:
for i in range(len(place1)):
    address = place1['경로당 주소'][i]

    # Kakao Maps Geocoding API 요청 URL
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"

    # API 요청 헤더 설정
    headers = {"Authorization": f"KakaoAK {api_key}"}

    # API 요청 및 응답 데이터 가져오기
    response = requests.get(url, headers=headers)
    data = response.json()

    # 결과 확인 및 좌표 추출
    if data.get('documents'):
        coordinate = data['documents'][0]['address']
        latitude = coordinate['y']
        longitude = coordinate['x']
        place1['위도'][i] = latitude
        place1['경도'][i] = longitude

In [ ]:
place1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   읍면동     440 non-null    object
 1   경로당명    440 non-null    object
 2   경로당 주소  440 non-null    object
 3   위도      440 non-null    object
 4   경도      440 non-null    object
dtypes: object(5)
memory usage: 17.3+ KB

In [ ]:
import requests

# Kakao Maps API 애플리케이션 키
api_key = "4453f3f08fff99d136036fd50dd34909"

In [ ]:
place2['위도'] = None
place2['경도'] = None


for i in range(len(place2)):
    address = place2['주소'][i]

    # Kakao Maps Geocoding API 요청 URL
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"

    # API 요청 헤더 설정
    headers = {"Authorization": f"KakaoAK {api_key}"}

    # API 요청 및 응답 데이터 가져오기
    response = requests.get(url, headers=headers)
    data = response.json()

    # 결과 확인 및 좌표 추출
    if data.get('documents'):
        coordinate = data['documents'][0]['address']
        latitude = coordinate['y']
        longitude = coordinate['x']
        place2['위도'][i] = latitude
        place2['경도'][i] = longitude

place2.info()

C:\Users\JaeIn\AppData\Local\Temp\ipykernel_4016\1757123953.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place2['위도'][i] = latitude
C:\Users\JaeIn\AppData\Local\Temp\ipykernel_4016\1757123953.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place2['경도'][i] = longitude

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시설명     41 non-null     object
 1   주소      41 non-null     object
 2   입소정원    41 non-null     int64
 3   위도      41 non-null     object
 4   경도      41 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.7+ KB

In [ ]:
hos['위도'] = None
hos['경도'] = None


for i in range(len(hos)):
    address = hos['주소'][i]

    # Kakao Maps Geocoding API 요청 URL
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"

    # API 요청 헤더 설정
    headers = {"Authorization": f"KakaoAK {api_key}"}

    # API 요청 및 응답 데이터 가져오기
    response = requests.get(url, headers=headers)
    data = response.json()

    # 결과 확인 및 좌표 추출
    if data.get('documents'):
        coordinate = data['documents'][0]['address']
        latitude = coordinate['y']
        longitude = coordinate['x']
        hos['위도'][i] = latitude
        hos['경도'][i] = longitude

hos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      125 non-null    object
 1   주소      125 non-null    object
 2   위도      0 non-null      object
 3   경도      0 non-null      object
dtypes: object(4)
memory usage: 9.0+ KB

In [ ]:
for i in range(len(hos)):
    if hos['위도'][i] == None:
        print(i)
        print(hos['주소'][i])

21
밀양시 부북면 용지리 26

In [ ]:
ad = ['밀양시 미리벌중앙로 67', '밀양시 부북면 용지리', '밀양시 삼문동 161-6', '밀양시 중앙로 381', '밀양시 내이2길 28',
     '밀양시 북성로 10', '밀양시 삼랑진읍 송지리 416-1', '밀양시 백민로 56']
idx = [2,21,30,35,57,65,75,96]

for i in range(len(ad)):
    hospital['주소'][idx[i]] = ad[i]

In [ ]:
for i in range(len(hospital)):
    address = hospital['주소'][i]

    # Kakao Maps Geocoding API 요청 URL
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"

    # API 요청 헤더 설정
    headers = {"Authorization": f"KakaoAK {api_key}"}

    # API 요청 및 응답 데이터 가져오기
    response = requests.get(url, headers=headers)
    data = response.json()

    # 결과 확인 및 좌표 추출
    if data.get('documents'):
        coordinate = data['documents'][0]['address']
        latitude = coordinate['y']
        longitude = coordinate['x']
        hospital['위도'][i] = latitude
        hospital['경도'][i] = longitude

hospital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   병원명     110 non-null    object
 1   주소      110 non-null    object
 2   위도      110 non-null    object
 3   경도      110 non-null    object
dtypes: object(4)
memory usage: 3.6+ KB

In [ ]:
pharm['위도'] = None
pharm['경도'] = None


for i in range(len(pharm)):
    address = pharm['주소'][i]

    # Kakao Maps Geocoding API 요청 URL
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"

    # API 요청 헤더 설정
    headers = {"Authorization": f"KakaoAK {api_key}"}

    # API 요청 및 응답 데이터 가져오기
    response = requests.get(url, headers=headers)
    data = response.json()

    # 결과 확인 및 좌표 추출
    if data.get('documents'):
        coordinate = data['documents'][0]['address']
        latitude = coordinate['y']
        longitude = coordinate['x']
        pharm['위도'][i] = latitude
        pharm['경도'][i] = longitude

pharm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   약국명     47 non-null     object
 1   주소      47 non-null     object
 2   위도      47 non-null     object
 3   경도      47 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

In [ ]:
clinic['위도'] = None
clinic['경도'] = None


for i in range(len(clinic)):
    address = clinic['주소'][i]

    # Kakao Maps Geocoding API 요청 URL
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"

    # API 요청 헤더 설정
    headers = {"Authorization": f"KakaoAK {api_key}"}

    # API 요청 및 응답 데이터 가져오기
    response = requests.get(url, headers=headers)
    data = response.json()

    # 결과 확인 및 좌표 추출
    if data.get('documents'):
        coordinate = data['documents'][0]['address']
        latitude = coordinate['y']
        longitude = coordinate['x']
        clinic['위도'][i] = latitude
        clinic['경도'][i] = longitude

pharm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      48 non-null     object
 1   주소      48 non-null     object
 2   위도      44 non-null     object
 3   경도      44 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

In [ ]:
for i in range(len(clinic)):
    if clinic['위도'][i] == None:
        print(i)
        print(clinic['주소'][i])

9
밀양시 부북면 춘화로 124
38
삼문동 165번지 6호 (1층,3층)
39
밀양시 삼문동 165번지 6호(2층)
47
삼문동 171번지 14호 세종메디칼빌딩

In [ ]:
hospital.head()

,병원명,주소,위도,경도
0,나노병원,밀양시 중앙로 229 (삼문동),35.4840221149895,128.757819803457
1,의료법인지원의료재단 굿모닝병원,밀양시 용평로5길 4-20 (용평동),35.4903012664108,128.767928883868
2,미르아이병원,밀양시 미리벌중앙로 67,35.4837443098754,128.748453961647
3,의료법인 생명사랑의료재단 밀양윤병원,밀양시 삼문중앙로 32 (삼문동),35.4846366784066,128.755625294951
4,행복한병원,밀양시 하남읍 수산중앙로 56-2,35.3746457475769,128.711516096764

In [ ]:
clinic.head()

         이름                 주소                위도                경도
0      금송의원    밀양시 삼랑진읍 천태로 50  35.3994042611188  128.840523409959
1     송광호의원  밀양시 삼랑진읍 천태로 14-1  35.3969873896075  128.838270815263
2  오용창 내과의원  밀양시 삼랑진읍 천태로 14-1  35.3969873896075  128.838270815263
3      신통의원         삼랑진 천태로 75  35.4000592101797  128.842882418026
4      인성의원   밀양시 하남읍 수산중앙로 21  35.3749654566926  128.707710594656

In [ ]:
hospital.head()

,주소,위도,경도,이름
0,밀양시 중앙로 229 (삼문동),35.4840221149895,128.757819803457,나노병원
1,밀양시 용평로5길 4-20 (용평동),35.4903012664108,128.767928883868,의료법인지원의료재단 굿모닝병원
2,밀양시 미리벌중앙로 67,35.4837443098754,128.748453961647,미르아이병원
3,밀양시 삼문중앙로 32 (삼문동),35.4846366784066,128.755625294951,의료법인 생명사랑의료재단 밀양윤병원
4,밀양시 하남읍 수산중앙로 56-2,35.3746457475769,128.711516096764,행복한병원

In [ ]:
'밀양시 부북면 용지리 26', '밀양시 삼문동 165-1', '밀양시 삼문동 165-1', '밀양시 삼문중앙로 49'